<template name="devwikHeader">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
					<a class="brand" href="#"><span>My Blog</span></a>
          <div class="nav-collapse collapse">
						{{> devwikLogin}}
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
							{{#if currentUser}}
							<li><a href="/new">New</a></li>
<li><a href="/list">List</a></li>
						{{/if}}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

</template>
